{% macro campo(nombre, etiqueta, tipo='text', valor='') %}
<div class="mb-3">
    <label class="form-label">{{ etiqueta }}</label>
    <input type="{{ tipo }}" class="form-control" name="{{ nombre }}" value="{{ valor }}">
</div>
{% endmacro %}
 <!--
{% macro camposNuevos(field) %}

<td>{{field.label}}</td>
<dd>{{field(**kwargs) | safe}}</dd>

{%if field.errors%}
<ul>
    {% for error in field.errors%}
    <li style="color: red;">{{error}}</li>
    {%endfor%}
</ul>
{%endif%}

{% endmacro %}
-->

{% macro camposNuevos(field) %}
<div class="mb-3">
    {{ field.label }}
    {{ field(class="form-control") }}

    {% for error in field.errors %}
        <div style="color:red;">{{ error }}</div>
    {% endfor %}
</div>
{% endmacro %}